<header>
  <img
  src="assets/img/danilo.jpg"
  alt="Danilo Francisquete - Foto de Perfil"
  width="130px"
  height="130px"
  loading="eager"
  >
  <h1>Danilo Francisquete</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Porecatu, Paraná, Brasil</p>
    <p>
      Estou na área de desenvolvimento de sofware mais de 2 anos.Devido isso
      resolvi abraçar a stack JS pois atua no Frotend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/danilo-francisquete-412948106/"
           target="_blank"
           class="btn btn-secondary">
            LinKedIn
          </a>
        </li>
      </ul>
    </nav>
<section>
<figure>
  <img src="assets/icons/whatsapp.svg"
  alt="Icone para contanto do WhatsApp"
  width="22px"
  height="24px"
  />

  <figcaption>
    <a href="https://api.whatsapp.com/send?phone5543998131155&text=01%C3A1%20Danilo,%20de%20um%20job!"
    target="_blank">
    <strong>Envie uma menssagem para:</strong>
    <p>WhatsApp: (43) 9 9813-1155 </p>
  </a>
  </figcaption>
</figure>

<figure>
  <img src="assets/icons/mail.svg"
  alt="Icone para contanto do e-mail"
  width="22px"
  height="24px"
  />

  <figcaption>
    <a
    href="mailto:danilofrancisquete@hotmail.com"
    target="_blank">
    <strong>Envie uma e-mail para:</strong>
    <p>danilofrancisquete&#64;hotmail.com </p>
  </a>
  </figcaption>
</figure>
</section>
  </div>
</aside>
